
config/nvim/.netrwhist
config/coc/*
config/zsh/.zcompcache
config/zsh/.zcompdump
config/zsh/.zcompdump.zwc
config/configstore
config/coc/extensions
config/karabiner/automatic_backups
config/configstore
